.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #000;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: rgba(229, 192, 253, 0.95);
  border-radius: 10px;
}

.news-img-size {
  border-radius: 3px;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.news {
  padding: 10px 0;
  border-bottom: 2px solid black;
}

.news-text {
  width: 100%;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

/* 사이드 메뉴 바 */

.hide {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 63rem) {
  .hide {
    display: inline;
  }
  .menus {
    display: none;
  }
}

.icon-button {
  padding: 8px 9px 9px;
  margin-top: 5px;
}

.fa-search {
  cursor: pointer;
}

.fa,
.fas {
  font-weight: 900;
}

/* 검색 창 */

#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
  padding-left: 10px;
  outline: none;
}

.search-button {
  background-color: rgb(194, 151, 206);
  border: none;
  color: rgb(255, 255, 255);
  height: 33px;
  border-radius: 4cqh;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(199, 159, 227, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: rgb(194, 105, 228);
  border-radius: 5px;
}

#input-area {
  display: none;
}

/* short-cut */

.top_short_cut a {
  position: fixed;
  bottom: 27px;
  right: 10px;
  background: rgba(199, 159, 227, 0.8);
  border: rgba(199, 159, 227, 0.95);
  border-radius: 50%;
  display: inline;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 7px;
  text-decoration-line: none;
}
.top_short_cut a:hover {
  opacity: 0.7;
}
